<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<section class="section-footer">
        <div class="footer-content">
            <% const currentYear = new Date().getFullYear(); %>
            <p>© <%= currentYear%> Weather App. All Rights Reserved.</p>
        </div>
</section>
<script src="/js/script.js"></script>
</body>
</html>