<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <section class="section-header">
            <div class="logo-title-container">
                <img src="/images/app_logo.png" alt="SkySight Logo" class="logo">
                <h1 id="header-title">SkySight</h1>
            </div>
            <div class="right-top-section-nav">
                <h1 class="right-title">SkySight</h1>
            </div>
    </section>
    <script src="/js/script.js"></script>
</body>
</html>
